<div class="bg-black text-white h-full p-6 space-y-8">
  <!-- Barra de búsqueda -->
  <div class="flex items-center space-x-4">
    <button class="text-white bg-gray-800 p-2 rounded-full">
      <fa-icon [icon]="iconArrowLeft"></fa-icon>
    </button>
    <input
      #searchInput
      (keyup.enter)="onSearch(searchInput.value)"
      type="text"
      placeholder="Artistas, canciones, o podcasts"
      class="flex-1 bg-gray-800 text-white placeholder-gray-400 px-4 py-2 rounded-full focus:outline-none"
    />
    <app-button-login-avatar></app-button-login-avatar>
  </div>

 <!-- Tracks -->
 <div *ngIf="results?.tracks?.items?.length ?? 0 > 0">
  <h2 class="text-xl font-bold mb-4">Canciones</h2>
  <div class="grid grid-cols-5 gap-4">
    <div *ngFor="let track of results!.tracks.items" class="bg-gray-800 p-4 rounded-lg">
      <img
        [src]="track.album.images[0].url || 'https://via.placeholder.com/150'"
        alt="{{ track.name }}"
        class="w-full h-32 object-cover rounded-lg mb-2"
      />
      <h3 class="text-lg font-bold">{{ track.name }}</h3>
      <p class="text-gray-400">{{ track.artists[0].name }}</p>
    </div>
  </div>
</div>

  <!-- Artistas -->
  <div *ngIf="results?.artists?.items?.length ?? 0 > 0">
    <h2 class="text-xl font-bold mb-4">Artistas</h2>
    <div class="grid grid-cols-2 gap-4">
      <div *ngFor="let artist of results!.artists.items" class="bg-gray-800 p-4 rounded-lg">
        <img *ngIf="artist.images.length > 0"
          [src]="  artist.images[0].url"
          alt="{{ artist.name }}"
          class="w-full h-32 object-cover rounded-lg mb-2"
        />
        <div
        *ngIf="artist.images.length === 0"
        class="w-16 h-16 bg-gray-500 flex items-center justify-center text-white font-bold text-4xl"
      >
        {{ artist.name.charAt(0).toUpperCase() }}
      </div>
        <h3 class="text-lg font-bold">{{ artist.name }}</h3>
        <p class="text-gray-400">{{ artist.type }}</p>

      </div>
      <!-- <app-info-album></app-info-album> -->
    </div>
  </div>

  <!-- Tus albumes principales -->
  <div *ngIf="results?.albums?.items?.length ?? 0 > 0">
    <h2 class="text-xl font-bold mb-4">Albumes</h2>
    <div class="grid grid-cols-3 gap-4">
      <!-- <app-info-genres></app-info-genres> -->
    </div>
  </div>
</div>
