<div class="bg-black text-white h-full p-6 space-y-8">
  <!-- Barra de búsqueda -->
  <div class="flex items-center space-x-4">
    <button class="text-white bg-gray-800 p-2 rounded-full">
      <fa-icon [icon]="iconArrowLeft"></fa-icon>
    </button>
    <input
      #searchInput
      (keyup.enter)="onSearch(searchInput.value)"
      type="text"
      placeholder="Artistas, canciones, o albumes"
      class="flex-1 bg-white text-black placeholder-gray-400 px-4 py-2 rounded-full focus:outline-none"
    />
    <button
      (click)="onSearch(searchInput.value)"
      class="bg-green-500 text-white px-4 py-2 rounded-full font-medium hover:bg-green-600 transition-colors flex items-center space-x-2"
    >
      <fa-icon [icon]="iconSearch"></fa-icon>
      <span>Buscar</span>
    </button>
    <app-button-login-avatar></app-button-login-avatar>
  </div>

  <div
    *ngIf="!results"
    class="flex flex-col items-center justify-center h-full space-y-4"
  >
    <fa-icon [icon]="iconSearch" class="text-gray-500 text-6xl"></fa-icon>
    <p class="text-gray-400 text-lg">
      Empieza a buscar tus artistas, canciones o podcasts favoritos
    </p>
  </div>

  <!-- Tracks -->
  <div *ngIf="results?.tracks?.items?.length ?? 0 > 0">
    <app-info-music  [title]="'Canciones'" [tracks]="results!.tracks.items"></app-info-music>
  </div>

  <!-- Artistas -->
  <div *ngIf="results?.artists?.items?.length ?? 0 > 0">
    <app-info-artist
      [title]="'Artistas'"
      [artists]="results!.artists.items"
    ></app-info-artist>
  </div>

  <!-- Tus albumes principales -->
  <div *ngIf="results?.albums?.items?.length ?? 0 > 0">
    <app-info-album
      [title]="'Albumes'"
      [albums]="results!.albums.items"
    ></app-info-album>
  </div>
</div>
