<nav class="bg-black h-full w-64 flex flex-col p-4 pt-10">
  <ul class="space-y-4 px-4">
    <li
      *ngFor="let item of navItems"
      (click)="navigate(item.route)"
      class="flex items-center space-x-4 cursor-pointer hover:text-gray-400 transition-colors my-5"
    >
      <div class="flex items-center">
        <img
          *ngIf="item.imageUrl"
          [src]="item.imageUrl"
          alt="icon"
          class="w-6 h-6"
        />
        <fa-icon
          *ngIf="item.icon"
          [icon]="item.icon"
          class="text-xl font-bold text-white"
        ></fa-icon>
      </div>
      <span *ngIf="item.title" class="text-xl text-white">{{
        item.title
      }}</span>
    </li>
  </ul>
  <app-list-play-list></app-list-play-list>
</nav>
